@model System.Web.Mvc.HandleErrorInfo


<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>ERROR</title>
</head>
<body>
    <hgroup>
        <h1>SORRY SOME ERROR OCCURED.</h1>      
    </hgroup>
</body>
</html>
